In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv (r'/Users/Colin/Desktop/Research project/Sigma/Data - Final/Final Data.csv')
df.head(5)

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,cusip,...,txpq,uaptq,chechy,cogsy,dpy,niy,revty,xopry,xsgay,costat
0,1000,31/03/1970,1970,1.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,NaN,0.605,9.478,NaN,NaN,I
1,1000,30/06/1970,1970,2.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I
2,1000,30/09/1970,1970,3.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I
3,1000,31/12/1970,1970,4.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I
4,1000,31/03/1971,1971,1.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,NaN,0.346,7.983,NaN,NaN,I

In [3]:
new_column = (df.groupby('cusip')['revty'].shift(4))
df['l2_revty'] = new_column
df[['revty', 'l2_revty']].head()

   revty  l2_revty
0  9.478       NaN
1    NaN       NaN
2    NaN       NaN
3    NaN       NaN
4  7.983     9.478

In [4]:
def createLaggedDataframe(df, id, lags_list):
    # type(df) = pandas DataFrame
    # type(id) = str
    # type (lags_list) = list
    df_lagged = df.copy()
    for lag in lags_list:
        columns_list = df.columns.tolist()
        for column in columns_list:
            new_col_name = column + str('_l') + str(lag) #FIXME: adapt so that shifts with pos int have neg int in name and vice versa
            df_lagged[new_col_name] = (df_lagged.groupby(id)[column].shift(lag))
    return df_lagged

In [9]:
id = 'cusip'
lags_list = [5,4,3,2,1,-1]
df_lagged = createLaggedDataframe(df, id, lags_list)
df_lagged.head()

/var/folders/z9/c7h07wr544jdchl5xb1cvffm0000gq/T/ipykernel_92952/2581840868.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df_lagged[new_col_name] = (df_lagged.groupby(id)[column].shift(lag))

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,cusip,...,uaptq_l-1,chechy_l-1,cogsy_l-1,dpy_l-1,niy_l-1,revty_l-1,xopry_l-1,xsgay_l-1,costat_l-1,l2_revty_l-1
0,1000,31/03/1970,1970,1.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,NaN
1,1000,30/06/1970,1970,2.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,NaN
2,1000,30/09/1970,1970,3.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,NaN
3,1000,31/12/1970,1970,4.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,0.346,7.983,NaN,NaN,I,9.478
4,1000,31/03/1971,1971,1.0,INDL,C,D,STD,AE.2,000032102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,NaN

In [10]:
filter_col = [col for col in df_lagged if col.startswith('revty')]
df_lagged[filter_col].head()

   revty  revty_l5  revty_l4  revty_l3  revty_l2  revty_l1  revty_l-1
0  9.478       NaN       NaN       NaN       NaN       NaN        NaN
1    NaN       NaN       NaN       NaN       NaN     9.478        NaN
2    NaN       NaN       NaN       NaN     9.478       NaN        NaN
3    NaN       NaN       NaN     9.478       NaN       NaN      7.983
4  7.983       NaN     9.478       NaN       NaN       NaN        NaN